/* DESKTOP FIRST */
@media screen and (max-width: 1140px){
    .container{
        width: 100%;
    }
    
}


/* TABLET FIRST */
@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }


}

/* MOBILE FIRST */
@media screen and (max-width: 480px){ 
    .container{
        width: 100%;
        display: flex;
    }
   

    

}
