/* DESKTOP FIRST */
@media screen and (max-width: 1140px){
    .container{
        width: 100%;
        overflow-y: hidden;
    }
    
}


/* TABLET FIRST */
@media screen and (max-width: 768px){
    .container{
        width: 100%;
        overflow-y: hidden;
    }

}

/* MOBILE FIRST */
@media screen and (max-width: 480px){ 
    .container{
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .lessons .col {
        width: 100%;
    }
    .steps .col{
        width: 100%;
    }
    .why-us .col{
        width: 100%;
    }
}
